* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 158px;
    }

.center{
    text-align: center;
    
    }


.signup-btn{
    width: 132px;
    height: 48px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
   }

.hero {
  padding: 50px 100px 100px;
  background-image:url('../images/Hero-bg.png');
  background-color: rgba(78, 71, 255, 25%);

}

.focus-btn{
  width: 174px;
  height: 48px;
  margin-top: 37px;
  font-weight: bold;
  background-color: #4E47FF;
  color:white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

body{
  font-family: 'Raleway';
  
  
}

.action {
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-top: 116px;
  margin-left: 141px;
  margin-right: 159px;
  width: 1140px;
  height: 328px;
}

.action-left {
 
  text-align: left;
}
.ac-l{
    margin: 23px 0;
}

.launch-btn {
  padding: 12px 36px;
  background: #4E47FF;
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 229px;
  height: 48;
}

.action-right img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.productive {
    width: 1140px;
    height: 306px;
    display: block;
    margin: 116px;
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    font-weight: bold;
    padding: 80px 20px;
    border-radius: 24px;
}

.numbers {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.numbers div h2 {
  font-family:Inter;
  font-size: 80px;
  font-weight:bold;
  color: #4E47FF;
}

.numbers p{
    color: rgba(0, 0, 0,50%);
    font-size: 20px;
}