*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 158px;
}

.center{
    text-align: center;
}

.signup-btn{
    width: 132px;
    height: 48px;
    background-color:#4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.hero{
  padding: 50px 100px 100px;
  background-image:url('../images/Hero-bg.png');
  background-color: rgba(78, 71, 255, 25%);
  max-width:1440px;
  margin-left: auto;
  margin-right: auto;
}

.focus-btn{
  width: 174px;
  height: 48px;
  margin-top: 37px;
  font-weight: bold;
  background-color: #4E47FF;
  color:white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-btn, .focus-btn, .launch-btn, form button{
  transition-duration: 0.4s;
}

.signup-btn:hover, .focus-btn:hover, .launch-btn:hover, form button:hover{
  background-color: #BE4410;
  color:#000000; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body{
  font-family: 'Raleway';
}

.action{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-top: 116px;
  margin-left:auto;
  margin-right:auto;
  width: 1140px;
  height: 328px;
}

.action-left{
 
  text-align: left;
}

.ac-l{
  margin: 23px 0;
  color: #8987A1;
}

.launch-btn{
  padding: 12px 36px;
  background-color: #4E47FF;
  color:white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 229px;
  height: 48;
}

.action-right img{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.productive{
    width: 1140px;
    height: 306px;
    display: block;
    margin-top: 116px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(78, 71, 255, 0.15);
    text-align: center;
    font-weight: bold;
    padding: 80px 20px;
    border-radius: 24px;
}

.numbers{
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.numbers div h2{
  font-family:Inter;
  font-size: 80px;
  font-weight:bold;
  color: #4E47FF;
}

.numbers p{
  color: rgba(0, 0, 0, 50%);
  font-size: 20px;
}


.review{
  padding: 60px 20px;
  text-align:left;
}

.review h3{
  text-align: center;
}

.cards{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card{
  background: rgba(66, 65, 65, 0.1);
  padding: 24px;
  border-radius: 14px;
  max-width: 300px;
}

.reviewer{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  color: gray;
}

.focus{
  margin-top: 100px;
  justify-items: center;
  text-align: center;
}

.focus img{
  max-width: 840;
  height: 365px;
  margin-top: 20px;
  border-radius: 48px;
}


.contact{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 40px;
  align-items: center;
  width: 1140px;
}

.contact .left{
  flex: 1.5;
  min-width: 250px;
}

.contact .right{
  flex: 1;
  min-width: 300px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

form input, form textarea{
  width: 100%;
  padding: 20px 32px;
  font-size: 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  font-family: inter;
}

textarea{
  min-height: 167px;
  max-width:430px;
}

form button{
  background: #4E47FF;
  color: white;
  border: none;
  padding: 12px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.footer{
  text-align: center;
  padding: 40px 20px;
  color: #8987A1;
}

.logo{
  display: flex;
  justify-content:center;
  align-items:center ;
  color: #4E47FF;
}

.footer nav{
  margin-top: 15px;
}

.footer nav a{
  margin: 0 15px;
  color: #8987A1;
  text-decoration: none;
  font-weight: 500;
}